@charset "UTF-8";
@import "./variables/colors";
@import "./variables/sizes";

/***** Slide-left animation *****/
.slide-left-appear {
    transform: translateX($animation-transform-offset);
    opacity: 0;

    &.slide-left-appear--active {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.4s cubic-bezier(0.4, 0.0, 1, 1);
    }
}

.slide-left-enter {
    opacity: 0;
    transform: translateX($animation-transform-offset);

    &.slide-left-enter--active {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.2s cubic-bezier(0.4, 0.0, 1, 1) 0.4s;
    }
}

.slide-left-leave {
    opacity: 1.0;
    transform: translateX(0);

    &.slide-left-leave--active {
        opacity: 0;
        position: absolute;
        width: 100%;
        transform: translateX(-$animation-transform-offset);
        transition: all 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
}

/***** Slide-right animation *****/

.slide-right-appear {
    transform: translateX(-$animation-transform-offset);
    opacity: 0;

    &.slide-right-appear--active {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.4s cubic-bezier(0.4, 0.0, 1, 1);
    }
}

.slide-right-enter {
    opacity: 0;
    transform: translateX(-$animation-transform-offset);

    &.slide-right-enter--active {
        opacity: 1;
        transform: translateX(0);
        transition: all 0.2s cubic-bezier(0.4, 0.0, 1, 1) 0.4s;
    }
}

.slide-right-leave {
    opacity: 1.0;
    transform: translateX(0);

    &.slide-right-leave--active {
        opacity: 0;
        position: absolute;
        width: 100%;
        transform: translateX($animation-transform-offset);
        transition: all 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
}
/***** Slide-top animation *****/
.slide-top-appear {
    transform: translateY(-$animation-transform-offset);
    opacity: 0;

    &.slide-top-appear--active {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.4s cubic-bezier(0.4, 0.0, 1, 1);
    }
}

.slide-top-enter {
    opacity: 0;
    transform: translateY(-$animation-transform-offset);

    &.slide-top-enter--active {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.2s cubic-bezier(0.4, 0.0, 1, 1) 0.4s;
    }
}

.slide-top-leave {
    opacity: 1.0;
    transform: translateY(0);

    &.slide-top-leave--active {
        opacity: 0;
        position: absolute;
        width: 100%;
        transform: translateY($animation-transform-offset);
        transition: all 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
}

/***** Slide-bottom animation *****/

.slide-bottom-appear {
    transform: translateY($animation-transform-offset);
    opacity: 0;

    &.slide-bottom-appear--active {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.4s cubic-bezier(0.4, 0.0, 1, 1);
    }
}

.slide-bottom-enter {
    opacity: 0;
    transform: translateY($animation-transform-offset);

    &.slide-bottom-enter--active {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.2s cubic-bezier(0.4, 0.0, 1, 1) 0.4s;
    }
}

.slide-bottom-leave {
    opacity: 1.0;
    transform: translateY(0);

    &.slide-bottom-leave--active {
        opacity: 0;
        position: absolute;
        width: 100%;
        transform: translateY(-$animation-transform-offset);
        transition: all 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
}