@charset "UTF-8";
@import "variables/colors";
@import "variables/sizes";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500i,700,700i");

html, body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: $font-size-desktop;
    height: 100%;

    @media (max-width: $small-screen-max-width) {
        font-size: $font-size-tablet;
    }
    @media (max-width: $small-screen-max-width) {
        font-size: $font-size-phone;
    }
}

* {
    box-sizing: border-box;
}

//Where the app will be bootstraped
#app {
    height: 100%;
}

.page-container {
    height: 100%;
}

.page {
    &__title {
        margin: .5em 0;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        padding: 1em 0;

        span {
            font-weight: bold;
            font-style: italic;
        }
    }
}

.section-container {
    display: flex;
    min-height: calc(100% - #{$footer-height});
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px 0;
    position: relative;
    background-size: 100%;
    background-image: url("../images/section-bottom.svg");
    background-position: left bottom;
    background-repeat: no-repeat;

    @media (max-width: $small-screen-max-width) {
        padding: 0 0 30px;
        background-color: $section-background-color-mobile;
    }

    &__content {
        background-color: $section-background-color;
        flex: 2;
        display: flex;
        align-items: flex-start;
    }
}

.container {
    width: 100%;
    padding: 0 $container-size-padding;
    margin: 0 auto;
    max-width: $container-max-width;

    @media (max-width: $small-screen-max-width) {
        padding: 0 15px;
    }
}