@charset "UTF-8";

$navigator-background-color: #f8f8f8;
$navigator-text-color: #040F90;
$section-background-color: #efefef;
$section-background-color-mobile: #f8f8f8;
$dark-blue: #0d156f;
$blue: #040f90;
$light-blue: #2a36bf;
$footer-background-color: #4a4a4a;
$button-dark-bg: #3d3d3d;
$button-light-bg: rgba(255, 255, 255, 0.1);
$button-border-color: #9b9b9b;
$greyish-brown: #4a4a4a;
$light-grey: #9b9b9b;
$tab-background-color: #f0f0f0;
$tab-border-color: #dedede;

$secondary-color: #ed8b00;
