@charset "UTF-8";

$side-navigator-width: 80px;
$font-size-desktop: 14px;
$font-size-tablet: 12px;
$font-size-phone: 12px;
$footer-height: 107px;
$container-max-width: 1200px;
$container-size-padding: 44.5px;
$small-screen-max-width: 768px;
$medium-screen-max-width: 1024px;
$animation-transform-offset: 50px;

:export {
  maxMobileWidth: $small-screen-max-width;
}