@charset "UTF-8";
@import "../variables/colors";
@import "../variables/sizes";

.footer {
    background-color: $footer-background-color;
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 20px;

    @media (max-width: $small-screen-max-width) {
        padding: 45px 15px;
    }

    &__title {
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 23.5px;
    }

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 30px;

        @media (max-width: $small-screen-max-width) {
            flex-direction: column;
            margin-bottom: 15px;
        }
    }

    &__button-link {
        color: white;
        padding: 10px;
        font-size: 1rem;
        background-color: $button-light-bg;
        border: solid 0.5px $button-border-color;
        text-decoration: none;

        @media (max-width: $small-screen-max-width) {
            margin-bottom: 7.5px;
        }

        &--dark-bg {
            background-color: $button-dark-bg;
        }

        &--no-border {
            border: none;
        }

        &--with-icon {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }

            span {
                font-weight: bold;
            }
        }
    }

    &__logo-and-links {
        display: flex;
        justify-content: space-between;

        @media (max-width: $small-screen-max-width) {
            flex-direction: column-reverse;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $small-screen-max-width) {
            margin-bottom: 15px;
        }
    }

    &__link {
        color: #fff;
        font-size: 0.75rem;

        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }
}