@charset "UTF-8";
@import "../variables/colors";
@import "../variables/sizes";

.group-strengths {
    margin: 0 auto 0;

    &__inner {
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.16);
        max-width: $container-max-width;
        margin: 0 100px;

        @media (max-width: $small-screen-max-width) {
            flex-flow: column wrap;
            margin: 0;
        }
    }
}

.strength {
    flex-basis: calc(100% / 3);
    padding-top: 2em;
    box-sizing: border-box;

    &__inner {
        display: flex;
        flex-direction: column;
        height: 80%;
    }

    @media (max-width: $small-screen-max-width) {
        flex-basis: calc(100% / 2);
    }

    @for $orderNumber from 1 through 6 {
        &--order-#{$orderNumber} {
            order: #{$orderNumber};
        }
    }

    &--white-bg {
        background: #fff;
    }

    &--blue-bg {
        background: $blue;
    }

    &--dark-blue-bg {
        background: $dark-blue;
    }

    &--light-blue-bg {
        background: $light-blue;
    }

    &__title {
        padding-left: 15px;
        padding-right: 22px;
        text-align: left;

        &__title--white-bg {
            color: $greyish-brown;
        }
    }

    &__image {
        display: flex;
        flex: 2;
        justify-content: center;
        width: 100%;
        padding: 0 15px;

        img {
            width: 70%;
            max-height: 150px;
            @media (max-width: $small-screen-max-width) {
                max-width: 150px;
                min-height: 150px;
            }
        }

        &--full-width {
            padding: 0;

            img {
                @media (max-width: $small-screen-max-width) {
                    max-width: 100%;
                }
            }
        }
    }

    &__description-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $small-screen-max-width) {
            padding-bottom: 15px;
        }

        &--white-bg {
            justify-content: flex-start;
        }
    }

    &__description {
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        font-family: 'Roboto', Arial, sans-serif;

        &--big {
            font-size: 1.5rem;

            @media (max-width: $small-screen-max-width) {
                font-size: 1.2rem;
            }
        }

        &--white-bg {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            color: $blue;
            font-weight: bold;
            text-align: center;
        }
    }

    &__button {
        background-color: $secondary-color;
        color: $navigator-background-color;
        font-size: larger;
        font-weight: bold;
        margin: 0 10px;
        padding: 10px 10px;
        width: calc(100% - 30px);
    }

    &__list {
    }

    &__text--bold {
        font-family: inherit;
        font-size: 2.5rem;
        font-weight: bold;
    }

    &__text--colored {
        color: $secondary-color;
    }

    &--order-1 {
        order: -1;
        ul {
            padding-left: 0;
        }
        li {
            list-style-type: none;
            line-height: 1.5em;
        }
    }
}