@charset "UTF-8";
@import "../variables/colors";
@import "../variables/sizes";

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: 3em;

    @media (max-width: $small-screen-max-width) {
        background-color: #fff;
        padding: 13px 10px;
    }

    &__logo {
        height: 70px;
        margin: 1em;
    }

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 1em;
        color: $blue;

        @media (max-width: $small-screen-max-width) {
            font-size: 1.5em;
            padding: 0;
        }
    }
}
