@charset "UTF-8";
@import "../variables/sizes";
@import "../variables/colors";

.offer {
    margin-bottom: 15px;
    transition: min-height 0.3s cubic-bezier(0.4, 0.0, 1, 1);

    &--expanded {
        transition: min-height 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    &__inner {
        display: flex;
        background-color: #fff;
        box-shadow: 5px 6px 12px 0 rgba(0, 0, 0, 0.1);

        @media (max-width: $small-screen-max-width) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__description {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px 25px;
        position: relative;
        color: $light-grey;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
    }

    &__title {
        color: $blue;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 10px;

        @media (max-width: $small-screen-max-width) {
            font-size: 1.125rem;
        }
    }

    &__number-categories {
        font-size: 1rem;
        justify-content: left;
        display: flex;

        @media (max-width: $small-screen-max-width) {
            flex-direction: column;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            padding: 0 .5rem;
        }
    }

    &__sep {
        height: 100%;
        border-left: 1px solid $tab-border-color;
        width: 30px;
    }

    &__expand-icon {
        $width: 105px;
        flex-basis: $width;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: $width;

        span {
            user-select: none;
            padding-top: 1rem;

            &.btn {
                background-color: $secondary-color;
                color: white;
                font-weight: bold;
                font-size: 2rem;
                border: solid 1px $secondary-color;
                border-radius: 50%;
                width: 3rem;
                height: 3rem;
                min-width: 3rem;
                cursor: pointer;
                padding-top: 0.3rem;
            }
        }
    }

}

.doc__link {
    display: flex;
    flex-direction: row;
    color: $secondary-color;
    margin: 0 10px;
    text-decoration: none;

    img {
        padding-left: 5px;
        padding-bottom: 5px;
    }
}

.more {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 5px solid $section-background-color;
    box-shadow: 5px 6px 12px 0 rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 1, 1);
    color: $greyish-brown;
    line-height: 1.5em;

    &--expanded {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        transition: all 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    &__content {
        display: flex;
        flex-direction: row;
        background-color: white;
        text-decoration: none;
        font-size: 1.125rem;
        padding: 12.5px 25px;

        @media (max-width: $small-screen-max-width) {
            flex-direction: column;
        }

        img {
            padding: 20px;
        }

        & .desc {
            border-left: solid 1px #d5d5d5;
            font-size: smaller;
            text-align: left;
            padding: 10px 25px;

            @media (max-width: $small-screen-max-width) {
                border-left: none;
                border-top: solid 1px #d5d5d5;
                padding: 10px 0;
            }
        }

    }

    &__comp {
        background-color: white;
        border-top: solid 1px #d5d5d5;
        padding: 10px 25px;
        width: 100%;

        @media (max-width: $small-screen-max-width) {
            display: none
        }
    }
}

.testimonials {
    background-color: white;
    width: 100%;
    padding-top: 4em;

    @media (max-width: $small-screen-max-width) {
        display: none;
    }

    &__title {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        font-size: x-large;
        background-color: white;
        color: $blue;
        padding-bottom: 1em;
    }

    &__title:before, &__title:after {
        content: "";
        flex: 1 1;
        border-bottom: 2px solid $blue;
        margin: auto 2em;
    }

    &__sep {
        border-top: 1px solid $tab-border-color;
        width: calc(100% - 1em);
        height: 1px;
        margin: 1em;
    }

    &__card {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        background-color: white;
        color: $greyish-brown;

        img {
            padding: 20px;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .title {
            font-size: large;
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
            color: $greyish-brown;
            padding-bottom: .5em;
            @media (max-width: $small-screen-max-width) {
                display: none;
            }
        }

        //& .logo--landscape {
        //    flex: 185px 0 0;
        //    background-color: white;
        //}

        & .desc {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            text-align: left;
            padding: 10px;
        }

        & .cit {
            font-style: italic;
            text-align: right;
            padding: 10px;
        }

        & .auth {
            text-align: right;
            padding: 10px;
        }

        &__image {
            width: 20%;
        }

        & .logo--square {
            $size: 30vh;
            max-height: $size;
            max-width: $size;
            width: auto;
            height: auto;
        }

        & .logo--portrait {
            max-height: 20vh;
            width: auto;
            height: auto;
        }

        & .logo--landscape {
            max-width: 30vh;
            width: auto;
            height: auto;
        }
    }

    &__card-sep {
        border-left: 1px solid $tab-border-color;
        width: 30px;
    }

}


