@charset "UTF-8";
@import "../variables/sizes";

.offer-page {

    &__cards {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        @media (max-width: $small-screen-max-width) {
            width: 300px;
            margin: 0 auto;
        }
    }
}