@charset "UTF-8";
@import "../variables/colors";
@import "../variables/sizes";

.side-navigator {
    background: $navigator-background-color;
    width: $side-navigator-width;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    text-decoration: none;

    &__text {
        transform: rotate(-180deg);
        writing-mode: vertical-rl;
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: bold;
        color: $navigator-text-color;
        font-size: 1.5rem;
        white-space: nowrap;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__icon {
        margin: 22.5px 0;
        text-align: center;
    }
}