@charset "UTF-8";
@import "../variables/colors";
@import "../variables/sizes";

.skill {
    margin: 1em 0;

    &--blue {
        background-color: $blue;
    }
    &--light-blue {
        background-color: $light-blue;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;

        @media (max-width: $small-screen-max-width) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__description {
        color: #fff;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        line-height: 1.36;
        width: 70%;
        padding: 0 20px;

        @media (max-width: $small-screen-max-width) {
            margin: 10px 0;
            width: 100%;
            font-size: 2em;
        }
    }

    &__main-sites {
        background-color: white;
        border-radius: 2px;
        box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.16);
        display: flex;
        flex-basis: 40%;
        width: 100%;
    }

    div.more {
        font-size: 1.5em;
        font-style: italic;
        padding: .5em;
        text-align: right;
        color: #fff;
        cursor: pointer;

        &.closed {
            display: none;
        }
    }
}

.main-site {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
        border-right: solid 1px #d8d8d8;
    }

    img {
        width: 100%;
    }

    &--imprim {
        width: 30%;
    }

    &--yop {
        width: 100%;
    }
}

.content {
    margin-top: 40px;
    flex-basis: calc(100% / 3);
    text-align: center;

    &.closed {
        display: none;
    }

    &__image {
        width: auto;
        height: 45px;
    }

    &__inner {
        padding: 26.5px 23.5px;
        font-size: 1.5em;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 1px 6px 7px 0 rgba(0, 0, 0, 0.16);
        margin-top: -60px;
        text-align: left;

        @media (max-width: $small-screen-max-width) {
            padding: .2em;
            font-size: 1em;
        }

        .columns {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.5em;
            font-style: italic;

            > div {
                flex: 1;
            }

            ul {
                list-style-type: none;
            }
        }

        @media (max-width: $small-screen-max-width) {
            flex-direction: column;
        }
    }
}
