@charset "UTF-8";
@import "../variables/colors";
@import "../variables/sizes";

.skill-page {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
        margin: 22.5px 0 25px;
        font-size: 150%;
        font-weight: 300;
    }

    &__cards {
        padding: 0 50px;
    }
}
