@charset "UTF-8";
@import "../variables/colors";
@import "../variables/sizes";

.tab-navigation {
    display: flex;
    overflow-x: scroll;

    &__item {
        text-decoration: none;
        color: $light-grey;
        font-size: 1rem;
        padding: 8px 10px;
        background-color: $tab-background-color;
        flex-basis: calc(100% / 3);
        min-width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-of-type) {
            border-right: solid 1px $tab-border-color;
        }

        &--active {
            font-weight: bold;
            color: $blue;
            background-color: $section-background-color-mobile;
        }
    }
}